{"liveSelection": false, "terms": {"0": {"isChecked": true, "itemName": "replaceAtPublish"}, "1": {"isChecked": true, "itemName": "owningModuleID"}, "2": {"isChecked": true, "itemName": "removeAtPublish"}, "3": {"isChecked": true, "itemName": "optimizeDeformerStack"}, "4": {"isChecked": true, "itemName": "reparentDuringUpdate"}, "5": {"isChecked": true, "itemName": "ignoreDuringUpdate"}, "6": {"isChecked": true, "itemName": "rigHookup"}, "7": {"isChecked": true, "itemName": "unparentDuringUpdate"}}, "searchSelected": false, "searchUserDefined": true, "searchHierarchy": false, "searchExact": true, "height": 761, "width": 1063, "searchNodeType": false, "searchScene": true, "y": 0, "x": 0, "nodeType": ""}